nav ul,
footer ul{
	width: 100%;
	display: flex;
	li {
		display: inline-block;
		margin: 5px auto;
		font-size: 0.9em;
		width: 20%;
		text-align: center;
		&:hover {
			background-color: lightblue;
			color: white; 
		}
		@include mq("tablet") {
			font-size: 1.25em;
		}
	}
}

a {
	text-decoration: none;
	&:visited {
		color: inherit;
	}
}


